data/
__MACOSX/
*.zip
*.jsonl
*.tmp
module_2\llm_hosting\models\
data/
__MACOSX/
.pytest_cache/
*.zip
*.jsonl
*.tmp
module_2/llm_hosting/models/
data/
__MACOSX/
.pytest_cache/
*.zip
*.jsonl
*.tmp
*.log
__pycache__/
**/__pycache__/
*.pyc
venv/
**/venv/
module_2/llm_hosting/models/
module_2/llm_hosting/models/.cache/
