<!--- Extension of base.html template--->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <section class="home-container">
        <div class="home-text">
            <p class="welcome_msg">WELCOME TO MY WEBSITE</p>
            <h1>Hi, I'm <span class="highlight">Gabriel Bisco Reinato</span></h1>
            <h2>a <strong>Student & AI Enthusiat</strong>.</h2>

            <p class="bio">
                I started my career as an automation engineer working with PLCs after graduating in Mechanical Engineering from Washington State University. 
                Over time I became more interested in the software side, especially artificial intelligence and machine learning. 
                Today my focus is on exploring how these technologies can be applied in practical ways to solve real world problems.
            </p>
            <p class="bio">
                I believe in demystifying AI and making it more accessible to people. 
                For me, technology should feel approachable and useful, not overwhelming. 
                I enjoy sharing what I learn and finding ways to turn complex ideas into tools that anyone can understand and benefit from.
            </p>
        </div>

        <div class="home-image">
            <div class="portrait">
                <img src="{{ url_for('static', filename='images/linkedinpic.jpg') }}" alt="Your Photo">
            </div>
        </div>
    </section>
</div>
{% endblock %}
